html {
	position: relative;
	min-height: 100%;
}

body {
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 35px;
	color: white;
	background-color: #555;
}
#wrapper{
	margin-bottom: 50px;
}
.container{
	margin-top: 5px;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px;
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

#left-column {
	width:300px;
	padding:0 30px 30px;
	float:left;
	margin-left: 70px;
}

#right-column {
	width:270px;
	float:right;
	margin-right: 100px;
}

#logo{
	width: 40px;
	height: 20px;
	margin-left: 30px;
}

.box {

	padding:5px;
	margin-top: 35px;
}

.contact-information{
	padding:5px;
	margin-bottom: 50px;
	margin-top: 50px;
}

#main-image{
	
	width:100px;
	height:140px;
	margin-left: 50px;
	margin-top: 15px;
}

.sidebar{
	margin-top: 100px;
}

.navbar-brand{margin-right: 50px;}